{% extends 'backend_base.html' %} 
{% load static %}
 

{% block content %}
<div class="container my-4 py-4">
  <div class="gap-2 mobile-view"></div>
  <div class="row">
    <div class="col-sm-12">
      
        As, of {{last_date}}, the U.S. National Average cost of fuel is:
        {{us_price}}. And the fuel surcharge rates are as follows:
      </p>
      <div class="gap-2"></div>

      <!-- surcharge rates for this week -->
      <table class="table">
        <thead>
          <tr class="bg-light">
            <th scope="col">Schedule</th>
            <th scope="col">Truckload (TL)</th>
            <th scope="col">Less Than Truckload (LTL)</th>
          </tr>
        </thead>
        <tbody>
          {% for key,value in schedule_dict.items %}
          <tr class="bg-light">
            <td>{{key}}</td>
            <td>{{value.0}} %</td>
            <td>{{value.1}} %</td>

          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="gap-4"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <article>
        <h4 class="underline-left">
          U.S. On-Highway Diesel Fuel Prices
        </h4>
        <div class="gap-1"></div>
        <p class="small">
          By U.S. Energy Information Administration. Prices are in dollars per
          gallon.
        </p>
        <div class="gap-1"></div>
        <ul class="list-group">
          {% for key,value in price_dict.items %}
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            {{key}}
            <span class="badge badge-primary badge-pill">{{value}}</span>
          </li>
          {% endfor %}
        </ul>
      </article>
      
    </div>
    <div class="gap-2"></div>
    
    {% load crispy_forms_tags %}
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <h4 class="underline-left">Calculate Fuel Surcharge</h4>
      <div class="gap-2"></div>
      <form action="{% url 'fuel_surcharge' %}" method="post">
        {{ form | crispy }} {% csrf_token %}
        <input type="submit" value="Get Surcharge Rates" class="larway-btn" />
      </form>
      <div class="gap-2"></div>

      
      {% if form_result_dict_len != 0 %}
        <table class="table">
        <thead>
          <tr class="bg-light">
            <th scope="col">Schedule</th>
            <th scope="col">Truckload (TL)</th>
            <th scope="col">Less Than Truckload (LTL)</th>
          </tr>
        </thead>
        <tbody>
          {% for key,value in form_result_dict.items %}
          <tr class="bg-light">
            <td>{{key}}</td>
            <td>{{value.0}} %</td>
            <td>{{value.1}} %</td>

          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
  </div>
</div>
<div class="gap-4"></div>



{% endblock %}
