{% extends "backend_base.html" %} {% block content %}

<div class="container py-4">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <h5>Fuel Surcharge Schedules</h5>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <a href="{% url 'add_schedule' %}" class="larway-btn float-right"
        >New Schedule</a
      >
    </div>
  </div>
  <div class="gap-1"></div>
  <table class="table">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th></th>
    </tr>
    {% for schedule in schedules %}
    <tr>
      <td><span>{{schedule.id}}</span></td>
      <td><a href="{{schedule.get_absolute_url }}">{{schedule.name}}</a></td>

      <td class="text-center">
        {% comment %} <a
          href="{% url 'edit_schedule' id=schedule.id %}"
          class="btn btn-primary"
          ><span><i class="fas fa-edit"></i></span
        ></a> {% endcomment %}

        <a
          href="{% url 'delete_schedule' id=schedule.id %}"
          class="btn btn-danger"
          ><span><i class="far fa-trash-alt"></i></span
        ></a>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
