{% extends 'backend_base.html' %} {% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-sm-6">
      <h5>Customer List</h5>
    </div>
    <div class="col-sm-6">
      <a href="{% url 'add_customer' %}" class="larway-btn float-right"
        >Add Customer</a
      >
    </div>
  </div>
  <div class="article">
    <table class="table mt-4">
      <tr>
        <th>Id</th>
        <th>Company Name</th>
        <th>Key Person Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th></th>
        <th></th>
      </tr>
      {% for customer in customers %}
      <tr>
        <td><span>{{customer.customer_id}}</span></td>
        <td> <a href="{{customer.get_absolute_url }}"> <span>{{customer.company_name}}</span></a></td>
        <td>
          {{customer.key_person_name}}
        </td>
        <td><span>{{customer.key_person_contact}}</span></td>
        <td><span>{{customer.email}}</span></td>

        <td>
          <a href="{% url 'edit_customer' id=customer.id %}" class="btn btn-primary"><span><i class="fas fa-edit"></i></span></a>
        
        </td>
        <td>
          <a href="{% url 'delete_customer' id=customer.id %}" class="btn btn-danger"><span><i class="far fa-trash-alt"></i></span></a></a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
