{% load static %}
<!-- mobile menu -->
<section class="mobile-menubar bg-black-light">
  <div class="logo" style="display:inline-block; margin:0 10px;">
    <img src="{% url 'SiteApp/img/logo.png' %}" alt="Larway" width="150px" />
  </div>

  <div class="menu-toggler" onClick="showMobileMenu()">
    <i class="fas fa-bars"></i>
  </div>
  <div class="mobile-menu" id="mobileMenu">
    <a onClick="closeMobileMenu()" style="color:#fff;float:right;margin:0 10px;"
      ><span><i class="fas fa-times"></i></span
    ></a>
    <ul>
      <li class="mobile-menu-item">
        <a href="{% url 'index' %}" class="mobile-menu-link">Home</a>
      </li>
      <li class="mobile-menu-item">
        <a href="{% url 'view_about' %}" class="mobile-menu-link">About Us</a>
      </li>
      <li class="mobile-menu-item">
        <a href="{% url 'view_contact' %}" class="mobile-menu-link"
          >Contact Us</a
        >
      </li>
      <li class="mobile-menu-item">
        <a href="{% url 'view_services' %}" class="mobile-menu-link"
          >Services</a
        >
      </li>
      <li class="mobile-menu-item">
        <a href="{% url 'request_quote' %}" class="mobile-menu-link"
          >Request Quote</a
        >
      </li>
      <li class="mobile-menu-item">
        <a href="{% url 'drive_with_us' %}" class="mobile-menu-link"
          >Drive With Us</a
        >
      </li>
    </ul>
  </div>
</section>

<script>
  function showMobileMenu() {
    document.getElementById("mobileMenu").style.display = "block";
  }
  function closeMobileMenu() {
    document.getElementById("mobileMenu").style.display = "none";
  }
</script>
