{% load static %}
<div
  class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 mt-4 mx-3 "
  id="mainMenuBar"
>
  <h5 class="my-0 mr-md-auto ">
    <a href="{% url 'index' %}"
      ><img src="{% static 'SiteApp/img/logo.png'%}" alt="" width="350px"
    /></a>
  </h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <div class="d-inline">
    <a class="pb-2 text-uppercase mx-2 letter-spacing-05" href="{% url 'index'%}">Home</a>
      <a class="pb-2 text-uppercase mx-2 letter-spacing-05" href="{% url 'view_about'%}">About</a>
      <a class="pb-2 text-uppercase mx-2 letter-spacing-05" href="{% url 'view_services'%}"
        >Services</a
      >
      <a class="pb-2 text-uppercase mx-2 letter-spacing-05" href="{% url 'view_contact'%}">Contact Us</a>
      {% comment %} <a class="pb-2 text-uppercase mx-2 letter-spacing-05" href="{% url 'fuel_surcharge' %}"
        >Fuel Surcharge</a
      > {% endcomment %}

      <a class="pb-2 text-uppercase mx-2 letter-spacing-05" href="{% url 'request_quote' %}"
        >Request Quote</a
      >
      <a class="pb-2 text-uppercase mx-2 letter-spacing-05" href="{% url 'drive_with_us' %}"
        >Drive With Us</a
      >
    </div>

    <a class="p-2 text-uppercase px-1 mx-3 log-in letter-spacing-05" href="{% url 'login' %}"
      ><span><i class="fas fa-user-tie"></i></span> Log In
    </a>
  </nav>
</div>

<!-- mobile menu -->
<section class="mobile-menubar bg-black-light">
  <div class="logo" style="display:inline-block; margin:0 10px;">
    <img src="{% static 'SiteApp/img/logo.png' %}" alt="Larway" width="150px" />
  </div>

  <div class="menu-toggler" onClick="showMobileMenu()" id="menuToggler">
    <i class="fas fa-bars"></i>
  </div>
  <div class="mobile-menu" id="mobileMenu">
    <a onClick="closeMobileMenu()" style="color:#fff;float:right;margin:0 10px;"
      ><span><i class="fas fa-times"></i></span
    ></a>
    <ul class="pl-0 pt-4" style="list-style-type:none;">
      <li class="mobile-menu-item">
        <a href="{% url 'index' %}" class="mobile-menu-link">Home</a>
      </li>
      <li class="mobile-menu-item">
        <a href="{% url 'view_about' %}" class="mobile-menu-link">About Us</a>
      </li>
      <li class="mobile-menu-item">
        <a href="{% url 'view_contact' %}" class="mobile-menu-link"
          >Contact Us</a
        >
      </li>
      <li class="mobile-menu-item">
        <a href="{% url 'view_services' %}" class="mobile-menu-link"
          >Services</a
        >
      </li>
      <li class="mobile-menu-item">
        <a href="{% url 'request_quote' %}" class="mobile-menu-link"
          >Request Quote</a
        >
      </li>
      <li class="mobile-menu-item">
        <a href="{% url 'drive_with_us' %}" class="mobile-menu-link"
          >Drive With Us</a
        >
      </li>
    </ul>
  </div>
</section>

<script>
  function showMobileMenu() {
    document.getElementById("mobileMenu").style.display = "block";
    document.getElementById("menuToggler").style.display="none";

  }
  function closeMobileMenu() {
    document.getElementById("mobileMenu").style.display = "none";
    document.getElementById("menuToggler").style.display="block";
  }
</script>
